*,
html,
body {
    font-family: 'Poppins', sans-serif !important;
}

.mobile-header {
    display: none;
}

.mobile-footer {
    display: none;
}

.mobile-wrapper {
    display: none;
}


/**********Mini Class*************/
.msg-modal{
    margin-top: 20px;
}

.msg-modal p{
 color: #FFFFFF;
}

.nav-icon{
    color: #666666;
    font-size: 24px;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: #363A43;
}

.primary-color {
    color: #2F970C;
}

.secondary-color {
    color: #F06E0C;
}

.pageNum {
    margin-left: 10px;
    margin-right: 10px;
}

.white {
    color: #FFFFFF;
}

.ml-2 {
    margin-left: 25px;
}

.btn-green {
    border: 1px solid #2F970C;
    background-color: #2F970C;
    color: #FFFFFF;
}

.btn-green:hover {
    background: transparent;
}

.btn-orange {
    background-color: #F06E0C !important;
    color: #FFFFFF !important;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-more-btn {
    padding: 5px 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.load-more-btn:hover {
    color: #2F970C;
    text-decoration: none;
}

.alert-box {
    position: absolute !important;
    left: 40%;
    padding: 5px 50px !important;
}

.bonus-text {
    color: #2F970C;
}


/********Converter Modal***********/

.stat-container {
    background: #000000;
    padding-top: 5px;
}

.stat-content {
    color: #FFFFFF
}

.converter-modal .modal-content {
    height: 400px;
    background: #363A43;
}

.converter-modal .modal-content .modal-header {
    border: none !important;
}

.converter-modal .modal-content .modal-header .h4 {
    color: #C2C2C2;
    font-size: 22px;
    font-weight: bold;
}

.converter-modal .modal-content .modal-header .close span {
    color: #C2C2C2;
}

.converter-modal .modal-content .modal-body {
    padding: 10px 50px;
}

.converter-modal .modal-content .modal-body .text {
    color: #C2C2C2;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.converter-modal .modal-content .modal-body table thead th {
    color: #C2C2C2;
    font-size: 14px;
}

.converter-modal .modal-content .modal-body table {
    position: relative;
    overflow-y: scroll;
}

.converter-modal .modal-content .modal-body table tbody td {
    color: #C2C2C2;
    font-size: 13px;
}

.converter-modal .modal-content .modal-body .text .copy {
    cursor: pointer;
}

.converter-modal .modal-content .modal-body .text span {
    font-weight: bold;
}

.converter-modal .modal-content .modal-body .text .success {
    color: #2F970C;
}

.converter-modal .modal-content .modal-body .text .fail,
.converter-modal .modal-content .modal-body .text-error {
    color: rgb(226, 58, 58);
}

.converter-modal .modal-content .modal-body .unavailable {
    margin-top: 20px;
}

.converter-modal .modal-content .modal-body .unavailable .unavailable-header {
    color: #C2C2C2;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;
}

.converter-modal .modal-content .modal-body .unavailable .game {
    margin-bottom: -2px;
}

.loading-game {
    position: relative;
    top: 20%;
}

.initerror {
    color: #C2C2C2;
    font-size: 20px;
    text-align: center;
}

.initerror a {
    color: #2F970C;
}


/************Header****************/

.desktop-header {
    position: sticky;
    max-width: 4600px;
    height: 72px;
    left: 0px;
    top: 0px;
    background: #363A43;
    box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

.header-wrapper {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-section .logo-name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #2F970C;
    padding-top: 15px;
}

.logo-section .logo-name span {
    color: #F06E0C;
}

.header-nav {
    /* position: absolute;
    left: 352px;
    top: 28px; */
    margin: auto;
}

.header-nav a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 50px;
    padding: 0 6px 18px 6px;
}

.header-nav a:hover {
    color: #2F970C;
    text-decoration: none;
}

.header-nav a.active {
    color: #2F970C;
    border-bottom: solid 3px #2F970C;
}

.auth-section {
    border-left: solid 1px #FFFFFF;
    height: 54px;
    position: relative;
    left: -120px;
    padding-left: 35px;
}

.login-input {
    width: 97px;
    height: 24px;
    background: #FFFFFF;
    margin-left: 5px;
    margin-top: 10px;
    font-size: 8px;
    border: none;
}

.login-input::placeholder {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 12px;
    color: #939393;
}

.login-input:focus {
    outline-width: 0;
}

.btn-login {
    width: 59px;
    height: 24px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border: none;
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.btn-login:hover {
    border: 1px #2F970C solid;
    color: #2F970C;
    background: transparent;
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
    text-decoration: none;
    margin-left: 6px;
    cursor: pointer;
}

.link:hover {
    color: #FFFFFF;
}

.section-image img {
    height: 90%;
}

.user,
.user-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-link-size a {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-decoration: none;
}

.user-link-size a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.user-link-size .dropdown-toggle {
    position: relative;
    bottom: 5px;
    color: #2F970C;
}

.user-link-size .dropdown-item {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #817E7E;
}

.user-link-size .dropdown-item:hover {
    background: #2F970C;
    color: #FFFFFF;
}

.user-link-size .logout-link {
    position: relative;
    bottom: 2px;
}

.link-border {
    width: 25px;
    height: 0px;
    position: relative;
    top: 10px;
    border: 1px solid #2F970C;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


/*************Footer******************/

.desktop-footer {
    max-width: 4640px;
    width: 100%;
    height: 690px;
    background: #121C1D;
}

.footer-container {
    padding: 52px 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-link-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-link-section .logo-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-link-section .logo-sub .logo {
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
}

.footer-link-section .logo-sub .logo .logo-text {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    position: relative;
    top: 15px;
}

.sub-group {
    width: 304px;
    height: 50px;
    border: 1px solid #AEADAD;
    box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sub-input {
    height: 50px !important;
    background: transparent !important;
    border: none !important;
}

.sub-input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #ADADAD;
}

.sub-btn {
    border: none !important;
    border-radius: 0px 10px 10px 0px !important;
    width: 120px;
    height: 48px;
    -webkit-border-radius: 0px 10px 10px 0px !important;
    -moz-border-radius: 0px 10px 10px 0px !important;
    -ms-border-radius: 0px 10px 10px 0px !important;
    -o-border-radius: 0px 10px 10px 0px !important;
}

.sub-btn:hover {
    background: transparent !important;
}

.other-links .footer-links-header {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #F06E0C;
}

.other-links ul li {
    list-style: none;
    color: #FFFFFF;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}

.other-links ul li a {
    color: #FFFFFF;
    margin-bottom: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}

.other-links ul li a:hover {
    color: #2F970C;
    text-decoration: none;
}

.bga-header {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.bga-body {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
}

.social-icons .icon {
    width: 36px;
    height: 36px;
    color: #FFFFFF;
    background: #3E444A;
    padding: 9px 13px;
    margin-right: 45px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.social-icons .icon:hover {
    color: #2F970C;
}

.footer-copy-section {
    margin-top: 65px;
}

.fcs-wrapper {
    border-top: 1px solid #7C7C7C;
    padding-top: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.copyright .copyright-body,
.copyright .copyright-credit,
.copyright .copyright-credit a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.reserved {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserved span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: -10px;
}

.reserved ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reserved ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-right: 5px;
}

.reserved ul li a {
    font-size: 14px;
}


/********Error Page*********/

.error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorText {
    color: #FFFFFF;
    font-size: 35px;
}

.errorText span {
    font-weight: bold;
}

.goBack {
    color: #2F970C;
    cursor: pointer;
    margin-top: 20px;
}


/***********Home***************/

.wrapper {
    background: #363A43;
    padding-bottom: 130px;
    overflow-x: hidden;
}

.support-wrapper {
    background: #363A43;
    padding-bottom: 130px;
    overflow-x: hidden;
}


/*****Converter Form******/

.converter-wrapper {
    background: linear-gradient(rgba(54, 58, 67, 0.8), rgba(54, 58, 67, 0.8)), url("../images/form-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #FFFFFF;
    width: 100%;
}

.reserved ul li a:hover {
    color: #FFFFFF;
}

.converter-wrapper .converter-container .title {
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    font-size: 18px;
    padding: 14px 22px 12px 23px;
}

.converter-wrapper .converter-container .title-underline {
    width: 80%;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #FFFFFF;
}

.converter-wrapper .converter-container .converter-form {
    padding: 17px 18px 40px 20px;
}

.converter-wrapper .converter-container .converter-form .form-group label {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.converter-wrapper .converter-container .converter-form .form-check label {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    display: inline;
}

.converter-wrapper .converter-container .converter-form .form-check label a {
    color: #2F970C;
}

.converter-wrapper .converter-container .converter-form .form-check label a:hover {
    color: #FFFFFF;
}

.converter-wrapper .converter-container .converter-form .form-group input,
.converter-wrapper .converter-container .converter-form .form-group select {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.converter-wrapper .converter-container .converter-form .form-group select,
.converter-wrapper .converter-container .converter-form .form-group option {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #252525;
}

.converter-wrapper .converter-container .converter-form .form-group input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
    color: #C4C4C4;
}

.btn-convert {
    margin-top: 29px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 28px;
}

.carousel-container {
    max-width: 1700px;
    width: 100%;
    width: 809px;
    height: 294px;
}

.slideshow-wrapper .title {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 72px;
}


/* .slideshow-wrapper img {} */

.slideshow-wrapper img {
    max-width: 1706px;
    width: 100%;
}

.slideshow-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    z-index: 1;
    max-width: 1706px;
    width: 100%;
}

.custom-dot-list-style {
    top: 260px !important;
}

.custom-dot-list-style .react-multi-carousel-dot button {
    background: #666666;
    border-color: #666666;
    margin-right: 12px;
}

.carousel .control-dots .dot {
    width: 11.71px !important;
    height: 11.71px !important;
    background: #666666 !important;
}

.carousel .control-dots .dot.selected {
    background: #2F970C !important;
}

.custom-dot-list-style .react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: #2F970C;
    border-color: #2F970C;
    margin-right: 12px;
}

.carousel-status {
    display: none;
}

.carousel-root {
    margin: 0 10px 0 0 !important;
}

.carousel-root .carousel {
    max-width: 25000px;
}

.option-container {
    margin-left: -30px;
}

.option-container .option-header {
    max-width: 427px;
    width: 100%;
    height: 147px;
    background: #F06E0C;
}

.option-container .option-header .option-header-text {
    text-transform: capitalize;
    width: 174px;
    height: 119px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    position: relative;
    top: 12px;
    margin: 0px auto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    padding: 17px;
}

.option-container .option-header .triangle {
    width: 0;
    height: 0;
    border: 30px solid transparent;
    border-bottom: 0;
    border-top: 40px solid #F06E0C;
    z-index: 10;
    position: relative;
    top: 7px;
    left: 40px;
}

.option-table {
    min-height: 330px;
    margin-top: 19px;
    background: #3E444A;
}

.option-table table thead tr {
    background: #2E2E2F;
}

.option-table table thead tr th {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.option-table table tbody tr {
    background: transparent !important;
    border-bottom: 1px solid #7C7C7C;
}

.option-table table tbody tr td {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
}

.table-btn-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.table-btn-section a {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding: 5px 59px;
}

.table-btn-section a:hover {
    text-decoration: none;
    color: #2F970C;
}

.img-container img {
    margin-top: 7px;
    margin-bottom: 10px;
    max-width: 426.66px;
    width: 100%;
}

.sports-section {
    background: #FFFFFF;
    min-height: 400px;
}

.sports-section .sport-title {
    color: #FFFFFF;
    background: #F06E0C;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    padding: 5px 27px;
    margin-bottom: -5px;
}

.sports-section table thead tr th {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #363A43;
}

.sports-section table tbody tr td {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #363A43;
    text-align: center;
}

.coming-soon {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #363A43;
}

.sport-btn:hover {
    color: #2F970C;
}

.disclamer-section {
    background: #FFFFFF;
}

.disclamer-section .disclamer-body {
    padding: 23px 17px 25px 17px;
}

.disclamer-section .disclamer-body .title {
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #363A43;
}

.disclamer-section .disclamer-body ol {
    margin-left: -32px;
}

.disclamer-section .disclamer-body ol li {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.offer-section {
    background-color: #363A43;
    padding-top: 50px;
    z-index: 3;
}

.offer-section .title {
    margin: 0 0 2em 0;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    line-height: 0.5;
    text-align: center;
}

.offer-section .title span {
    display: inline-block;
    position: relative;
}

.offer-section .title span:before,
.offer-section .title span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #7C7C7C;
    top: 0;
    width: 150px;
}

.offer-section .title span:before {
    right: 100%;
    margin-right: 15px;
}

.offer-section .title span:after {
    left: 100%;
    margin-left: 15px;
}

.offer-section .offer-body {
    padding: 0px 80px;
}

.offers {
    border: 1px solid #BCBCBC;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    padding: 38px 59px 50px 58px;
    height: 100%;
}

.offers .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.offers .icon .iconify {
    position: relative;
    color: #F06E0C;
    font-size: 60px;
}

.offers .icon img {
    position: relative;
    width: 65px;
}

.offers .title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 15px;
}

.offers .body {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}

.mr-loader {
    position: relative;
    top: 30px;
    left: 40%;
    padding-bottom: 50px;
}

.match-review-home .header-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.match-review-home .header-link .header {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #F06E0C;
}

.match-review-home .header-link .link {
    align-self: center;
    position: relative;
    left: -30px;
}

.match-review-home .header-link .link a {
    border: 1px solid #2F970C;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    text-align: start;
    color: #FFFFFF;
    padding: 5px 59px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.match-review-home .header-link .link a:hover {
    text-decoration: none;
    background-color: #2F970C;
}

.match-review-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.match-review-section .card-wrapper {
    margin-right: 25px;
}


/* .card-container {
    width: 273px;
} */

.card-container .image img {
    width: 100%;
}

.card-container .title a {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #2F970C;
    margin-top: 20px;
    float: left;
}

.card-container .title a:hover {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.card-container .desc {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.card-container .author-date {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    color: #8B8787;
}

.card-container .author-date .divider {
    width: 25px;
    height: 0px;
    border: 1px solid #8B8787;
    transform: rotate(90deg);
    margin: 0px 5px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


/***********Punters Tips***************/

.punters-tips-img {
    width: 100%;
}

.punters-tips-table-section {
    margin: 0px 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #363A43;
}

.punters-tips-table-section .date-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.punters-tips-table-section .date-search .date-label {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 5px;
}

.punters-tips-table-section .date-search .sort-date {
    width: 117px;
    height: 30px;
    background: #EAE9E9;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 18px;
    color: #363A43;
    margin-top: -7px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.punters-tips-table-section .date-search .search .input-group {
    width: 184px;
    height: 30px;
    background: #EAE9E9;
    border-radius: 5px;
    margin-top: -7px;
}

.punters-tips-table-section .date-search .search .input-group .input-group-prepend {
    cursor: pointer;
}

.punters-tips-table-section .date-search .search .input-group .input-group-prepend .iconify {
    border: none;
    padding: 7px 3px 0px 2px;
    font-size: 25px;
}

.punters-tips-table-section .date-search .search .input-group .search-input {
    height: 30px;
    border: none;
    background: transparent;
}

.punters-tips-table-section .date-search .search .input-group .search-input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #888888;
}

.punters-tips-table {
    background: #3E444A;
    padding: 0 21px;
}

.punters-tips-table table thead tr {
    height: 128px;
    padding-bottom: 10px;
    background: #3E444A !important;
    text-align: center;
    border-bottom: 3px solid #C2C2C2;
}

.punters-tips-table table thead tr th {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.punters-tips-table table thead tr .punter {
    background: #F06E0C;
    border-radius: 5px;
    padding: 1px 12px;
    width: 120px;
    height: 37px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.punters-tips-table table tbody tr td {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.punters-tips-table table tbody tr td a {
    color: #2F970C;
}

.punters-tips-table table tbody tr td a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.pagination-nav {
    margin-left: 217px;
    display: flex;
    flex-direction: row;
}

.pagination-nav .prev,
.pagination-nav .next {
    width: 63px;
    height: 24px;
    background: #2E2E2F;
    border-radius: 5px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 1px 2px;
    margin-right: 15px;
    cursor: pointer;
}

.pagination-nav .prev:hover,
.pagination-nav .next:hover {
    color: #F06E0C;
}

.pagination-nav .prev .iconify,
.pagination-nav .next .iconify {
    color: #F06E0C;
}

.pagination-nav .prev .iconify {
    margin-right: 5px;
}

.pagination-nav .current {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 15px;
}


/***********Match Reviews***************/

.banner-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 4000px;
    width: 100%;
    height: 380.98px;
    background: #121C1D;
}

.banner-wrapper .carousel-section {
    padding-top: 25px;
    padding-left: 50px;
    height: 100%;
}

.banner-wrapper .title-header {
    display: block;
}

.banner-wrapper .title-header .head,
.banner-wrapper .title-header .tail {
    font-style: normal;
    font-weight: bold;
}

.banner-wrapper .title-header .head {
    position: relative;
    bottom: 55px;
    right: 50px;
    font-size: 200px;
    line-height: 300px;
    color: #2F970C;
}

.banner-wrapper .title-header .tail {
    font-size: 158px;
    color: #F06E0C;
    position: relative;
    bottom: 133px;
    right: 50px;
}

.match-review-header {
    max-width: 4000px;
    width: 100%;
    height: 380.98px;
    background: #121C1D;
}

.match-review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mrcc {
    margin: 0px 30px !important;
    height: 380.98px;
}

.mrcdls {
    position: relative;
    top: 320px !important;
    right: 180px !important;
}

.mrcdls .react-multi-carousel-dot button {
    background: #666666;
    border-color: #666666;
    margin-right: 12px;
}

.mrcdls .react-multi-carousel-dot.react-multi-carousel-dot--active button {
    background: #2F970C;
    border-color: #2F970C;
    margin-right: 12px;
}

.match-review-header .title {
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 300px;
    color: #2F970C;
    text-align: center;
    position: absolute;
    right: -70px;
    padding: 0px 90px 20px 30px;
    overflow-y: hidden;
    height: 380.98px;
}

.match-review-header .title span {
    font-style: normal;
    font-weight: bold;
    font-size: 158px;
    line-height: 237px;
    color: #F06E0C;
    position: relative;
    top: -150px;
    overflow-y: hidden;
}

.match-review-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #121C1D !important;
}

.match-review-card-container .title,
.match-review-card-container .desc,
.match-review-card-container .author-date {
    padding: 0px 54px 17px 10px;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-container .match-review-image,
.header-container .sub-header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.header-container .match-review-image img {
    width: 60vw;
}

.header-container .sub-header-wrapper .author-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-container .sub-header-wrapper .author-date .author,
.header-container .sub-header-wrapper .author-date .date {
    font-style: normal;
    font-weight: normal;
    /* font-size: 11px; */
    line-height: 16px;
    color: #8B8787;
    margin-right: 50px;
    padding-top: 10px;
}

.mr-body-container .title {
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    text-align: center;
    color: #2F970C;
}

.mr-body-container .match-review-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.mr-body-container .match-review-content p {
    color: #FFFFFF;
}


/********Available Options**********/

.available-option .title {
    font-size: 135px !important;
}

.available-option .title span {
    font-size: 130px !important;
}

.bet-terminologies .title {
    font-size: 120px !important;
}

.bet-terminologies .title span {
    font-size: 90px !important;
}


/**************FAQ****************/

.faq .title {
    right: 30px !important;
}


/***********Privacy Policy**************/

.privacy-policy .title {
    font-size: 150px !important;
    right: 5px !important;
}

.privacy-policy .title span {
    font-size: 140px !important;
}


/***********TC**************/

.tc .title {
    font-size: 110px !important;
    /* right: 5px !important; */
}

.tc .title span {
    font-size: 100px !important;
}

.tc-article {
    color: #FFFFFF;
}

.tc-article a {
    color: #2F970C;
}

.tc-article a:hover {
    color: #FFFFFF;
}


/********Bet Terminologies*********/

.bet-term-wrapper {
    max-width: 4000px;
    width: 100%;
    height: 380.98px;
    background: #121C1D;
    display: flex;
    flex-direction: column;
}

.bet-term-wrapper .head,
.bet-term-wrapper .tail {
    font-weight: bold;
    text-align: center;
    line-height: 1.1 !important;
}

.bet-term-wrapper .head {
    font-size: 180px;
    color: #2F970C;
}

.bet-term-wrapper .tail {
    font-size: 150px;
    color: #F06E0C;
}


/****FAQ***/

.faq-wrapper {
    max-width: 4000px;
    width: 100%;
    height: 300.98px;
    background: #121C1D;
    display: flex;
    flex-direction: column;
}

.faq-wrapper .head {
    font-weight: bold;
    text-align: center;
    line-height: 1.4 !important;
    font-size: 180px;
    color: #2F970C;
}


/*********Terms and Conditions***********/

.tac-wrapper {
    max-width: 4000px;
    width: 100%;
    height: 380.98px;
    background: #121C1D;
    display: flex;
    flex-direction: column;
}

.tac-wrapper .head,
.tac-wrapper .tail {
    font-weight: bold;
    text-align: center;
    line-height: 1.0 !important;
}

.tac-wrapper .head {
    font-size: 140px;
    color: #2F970C;
}

.tac-wrapper .tail {
    font-size: 110px;
    color: #F06E0C;
}


/**********Dashboard*********/

.dashboard-card {
    height: 101px;
    background: #363A43;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.526);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.dashboard-card .text-body,
.dashboard-card .icon {
    align-self: center;
}

.dashboard-card .text-body .header {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #2F970C;
}

.dashboard-card .text-body .body {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
}

.dashboard-card .icon .iconify {
    font-size: 50px;
    font-weight: bolder;
    color: #F06E0C;
}

.admin-post .nav-link {
    border: none !important;
    color: #FFFFFF;
}

.admin-post .nav-link:hover {
    color: #2F970C;
}

.admin-post .nav-link.active {
    border: none !important;
    color: #2F970C !important;
    background: transparent !important;
    border-bottom: 1px solid #2F970C !important;
    font-weight: bold;
}

.mr-btn {
    display: flex;
    display: row;
    justify-content: center;
    align-content: center;
}

.mr-btn .form-btn {
    margin-top: 20px;
    padding: 5px 50px;
}

.sub-title {
    text-align: center;
    padding-top: 20px;
    color: #FFFFFF;
}

.help-text {
    color: #afafaf;
}


/***************Register****************/

.reg-form-align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.reg-form-align .form-control,
.reg-form-align select {
    width: 50vw;
    margin-bottom: 20px;
    height: 49px;
    background: #F2F2F2;
    border-radius: 5px;
}

.reg-form-align input::placeholder {
    color: #9F9C9C;
}

.reg-form-align .form-check {
    position: relative;
    left: 20%;
}

.reg-form-align .form-check-label {
    color: #FFFFFF;
}

.reg-form-align .form-check-label a {
    color: #2F970C;
}

.reg-form-align .form-check-label a:hover {
    color: #FFFFFF;
}

.reg-form-align .form-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
}

.reg-form-align .reg-btn {
    padding: 10px 100px;
    align-self: center;
}

.disclaimer-list li{
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 13px;
}

.paragraph{
    font-weight: 500;
    font-size: 14px;
}

/***************Responsiveness****************/

@media (max-width: 768px) {
    .support-msg table thead tr th{
        font-size: 11px !important;
    }

    .disclaimer-list li{
        color: #FFFFFF;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 5px;
        width: 240px;
        margin: 0 -60px;
    }
    
    .paragraph{
        font-weight: 400;
        font-size: 10px;
        width: 240px;
        margin: 0 -30px;
    }

    .support-msg table tbody tr td{
        font-size: 9px !important;
    }

    .desktop-header {
        display: none;
    }
    .desktop-footer {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .control-dots {
        display: none;
    }
    .loading-game .loader {
        background: transparent;
    }
    /*******Header*******/
    .mobile-header {
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        max-width: 768px;
        height: 52px;
        background: #363A43;
        box-shadow: 0px 4px 10px 10px rgba(0, 0, 0, 0.25);
        z-index: 1000;
        padding: 9px 21px 8px 11px;
    }
    .mobile-header .mobile-header-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-header .mobile-header-wrapper .drawer-icon {
        position: relative;
        top: 11px;
        cursor: pointer;
    }
    .mobile-header .mobile-header-wrapper .logo-section img {
        width: 40px;
        height: 40px;
    }
    .mobile-header .mobile-header-wrapper .logo-section .logo-name {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        position: relative;
        bottom: 7px;
    }
    .mobile-header .mobile-header-wrapper .search-icon .icon {
        width: 26px;
        height: 26px;
        background: #363A43;
        box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.526);
        padding: 3.63px 6.07px .07px 4.63px;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        top: 5px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .mobile-header .mobile-header-wrapper .search-icon .icon .iconify {
        color: #FFFFFF;
        font-size: 20px;
    }
    .nav-cancel-btn {
        font-size: 32px;
        color: #FFFFFF;
        position: relative;
        bottom: 10px;
        right: 5px;
    }
    /*******Sidemenu*****/
    .Menu {
        padding: 45px 22px 10px 20px;
        position: relative;
        background: #FFFFFF;
        height: 100%;
    }
    .Menu .user {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #E4E4E4;
    }
    .Menu .user img {
        width: 70px;
        border-radius: 50%;
    }
    .Menu .user .user-detail {
        position: relative;
        top: 10px;
        right: 40px;
    }
    .Menu .user .user-detail .name {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 155%;
        display: flex;
        align-items: center;
        color: #000000;
    }
    .Menu .user .user-detail .action {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .Menu .user .user-detail .action .link {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 155%;
        display: flex;
        align-items: center;
        color: #9A9A9A;
    }
    .Menu nav {
        display: flex;
        flex-direction: column;
    }
    .Menu nav a {
        fill: #666666;
        text-transform: capitalize;
        margin: 0 -1rem;
        padding: 0.6rem 1rem;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        transition: var(--transition);
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        padding: 14px 1rem;
        color: #666666;
        -webkit-transition: var(--transition);
        -moz-transition: var(--transition);
        -ms-transition: var(--transition);
        -o-transition: var(--transition);
    }
    .Menu nav .account {
        border-top: 1px solid #E4E4E4;
        border-bottom: 1px solid #E4E4E4;
    }
    .Menu nav .logout {
        padding-top: 50px;
    }
    .Menu nav a:hover {
        color: #2F970C;
        fill: #2F970C;
    }
    .Menu nav a.active {
        /* background: linear-gradient(90deg, #dae0ee, rgba(32, 39, 55, 0.1)); */
        color: #2F970C;
        fill: #2F970C;
    }
    .Menu nav a.active::before {
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 5px;
        background: var(--primary-color);
        left: 0;
        top: 0;
    }
    .Menu nav a svg {
        margin-right: 1rem;
    }
    .mobile-footer {
        display: flex;
        max-width: 768px;
        height: 259px;
        width: 100%;
        background: #121C1D;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding: 18px 33px 28px 24px;
    }
    .mobile-footer .gamble-aware-text .header {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
    }
    .mobile-footer .gamble-aware-text .body {
        font-style: normal;
        font-weight: normal;
        font-size: 9px;
        line-height: 13px;
        color: #FFFFFF;
    }
    .mobile-footer .gamble-aware-logo img {
        width: 158px;
        height: 26px;
    }
    .mobile-footer .converter-icon-section {
        margin-top: 20px;
        position: sticky;
        bottom: 0;
    }
    .mobile-footer .converter-icon-section .icon {
        cursor: pointer;
        position: relative;
        left: 20px;
        padding: 13px 17.75px 18.74px 12px;
        border-radius: 50%;
        width: 51px;
        height: 51px;
        margin-bottom: 10px;
        background: rgba(47, 151, 12, 0.5);
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    .mobile-carousel-slider img,
    .mobile-bet-term-header img {
        margin-bottom: 120px;
    }
    .mobile-footer .converter-icon-section .text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
    }
    .mobile-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #363A43;
        max-width: 768px;
    }
    .slideshow-wrapper .title {
        display: none;
    }
    .carousel-root {
        margin-right: 0px !important;
    }
    .option-container-mobile {
        padding-bottom: 25px;
        margin: 0px 20px;
        border-bottom: 1px solid #DFDFDF;
    }
    .mobile-option-wrapper {
        background: #2F970C;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90.14px;
        height: 72.67px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .mobile-option-wrapper .icon {
        margin: 0px auto;
        padding: 6.4px 00px 1px 00px;
    }
    .mobile-option-wrapper .body {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
        padding: 0px 20px 5px 20px;
    }
    .mobile-home-mr-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0px 20px;
    }
    .mobile-home-mr-wrapper .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-home-mr-wrapper .header .title {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        color: #F06E0C;
    }
    .mobile-home-mr-wrapper .header .link a {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #DFDFDF;
        position: relative;
        top: 5px;
    }
    .mobile-home-match-review {
        margin-top: 8px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .mr-loader {
        top: 30px;
        left: 0%;
    }
    .mobile-card-container {
        /* width: 100%; */
        margin-bottom: 30px;
    }
    .mobile-card-container img {
        width: 107px;
        height: 76px;
    }
    .mobile-card-container .title {
        width: 100px;
    }
    .mobile-card-container .title a {
        font-style: normal;
        font-weight: 600;
        font-size: 9px;
        line-height: 0px;
        color: #2F970C;
        width: 80px;
    }
    .mobile-card-container .desc {
        margin: 3px 0px;
        font-style: normal;
        font-weight: normal;
        font-size: 7px;
        line-height: 10px;
        width: 90px;
        color: #FFFFFF;
    }
    .mobile-card-container .divider {
        width: 25px;
        height: 0px;
        border: 1px solid #8B8787;
        transform: rotate(90deg);
        margin: 0px 5px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    .mobile-card-container .author-date {
        font-style: normal;
        font-weight: normal;
        font-size: 6px;
        line-height: 9px;
        color: #8B8787;
    }
    .mobile-converter-wrapper {
        padding: 17px 36px 49px 33px;
    }
    .mobile-converter-wrapper .mobile-converter-container .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-converter-wrapper .mobile-converter-container .title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        color: #4A4A4A;
        margin-bottom: 28px;
    }
    .mobile-converter-wrapper .mobile-converter-container .icon {
        cursor: pointer;
    }
    .mobile-converter-wrapper .mobile-converter-container .icon .iconify {
        color: #797979;
        font-weight: bold;
        font-size: 30px;
    }
    .mobile-converter-wrapper .mobile-converter-container .converter-form label {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: #4A4A4A;
    }
    .mobile-converter-wrapper .mobile-converter-container .converter-form input,
    .mobile-converter-wrapper .mobile-converter-container .converter-form select {
        border: 1px solid #9F9C9C;
        height: 49px;
        background: #EAEAEA;
        box-sizing: border-box;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .mobile-converter-wrapper .mobile-converter-container .converter-form input::placeholder,
    .mobile-converter-wrapper .mobile-converter-container .converter-form select {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #9F9C9C;
    }
    .mobile-converter-wrapper .mobile-converter-container .converter-form input,
    .mobile-converter-wrapper .mobile-converter-container .converter-form select {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #9F9C9C;
    }
    .mobile-converter-wrapper .mobile-converter-container .btn-convert:hover {
        color: #2F970C;
    }
    .mob-converter .form-check-label {
        font-size: 12px;
    }
    .mob-converter .form-check-input {
        margin-top: -9px;
    }
    .mob-converter .form-check-label a {
        color: #2F970C;
    }
    /*****Punters Tips*****/
    .mobile-date-search {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .mobile-date-search .date-sort .row {
        flex-wrap: nowrap !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    .mobile-date-search .date-sort .date-label {
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        position: relative;
        top: 5px;
        right: 5px;
    }
    .mobile-date-search .date-sort .sort-date {
        width: 100px;
        height: 24px;
        font-size: 11px;
        text-align: center;
        background-color: #EAE9E9;
        border: 1px solid #EAE9E9 !important;
        position: relative;
        left: -30px;
    }
    .mobile-date-search .search .input-group {
        width: 100px;
        height: 25px;
        border: 1px solid #EAE9E9;
        position: relative;
        top: -2px;
        right: 10px;
        border-radius: 5px;
        background-color: #EAE9E9;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .mobile-date-search .search .input-group .search-input {
        width: 80px;
        height: 25px;
        background-color: transparent;
        border: none;
        font-size: 10px;
        text-align: center;
    }
    .mobile-date-search .search .input-group .input-group-prepend .iconify {
        position: relative;
        top: 3px;
    }
    .punters-tips-table table thead tr {
        height: 70px;
    }
    .punters-tips-table table thead tr th {
        font-size: 13px;
    }
    .punters-tips-table table tbody tr td {
        font-size: 11px;
    }
    .pagination-nav {
        margin-left: 10px !important;
    }
    /*****Match Reviews*******/
    .mobile-matchreview-header-text {
        color: #2F970C;
        text-align: center;
        font-weight: bold;
        position: relative;
        top: -150px;
    }
    .mobile-matchreview-header-text span {
        color: #F06E0C;
    }
    .mobile-matchreview-body {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 20px;
        margin-top: -80px;
    }
    .mobile-matchreview-body .match-review-card-container {
        margin-bottom: 25px;
    }
    .load-more {
        margin: 20px auto;
    }
    .mobile-image-holder img {
        width: 100vw;
    }
    .mobile-author-date {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .mobile-author-date .author,
    .mobile-author-date .date {
        font-size: 12px;
        color: #8B8787;
        padding-top: 10px;
    }
    .mr-body-container .title {
        font-size: 25px;
        line-height: normal;
    }
    .mr-body-container p {
        font-size: 12px;
    }
    .mobile-bet-term-header {
        width: 100vw;
        height: 150px;
        background: #121C1D;
    }
    .mobile-term-header-text {
        color: #2F970C;
        text-align: center;
        font-weight: bold;
        padding-top: 25px;
        font-size: 40px;
    }
    .mobile-term-header-text span {
        color: #F06E0C;
    }
    .mobile-bet-term-body {
        margin-top: 20px;
    }
    .mobile-bet-term-body .match-review-card-container {
        margin-bottom: 10px;
    }
    /******Sign In********/
    .auth-container {
        height: 100vh;
        overflow-x: hidden;
    }
    .auth-img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .auth-intro {
        margin-top: 20px;
    }
    .auth-title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        text-align: center;
    }
    .auth-body {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
        padding: 20px 40px;
    }
    .auth-btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }
    .auth-btns .auth-signup {
        background: #F06E0C;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        padding: 7px 28px;
        color: #FFFFFF;
        margin-right: 20px;
        border: 1px solid #F06E0C;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .auth-btns .auth-login {
        padding: 7px 28px;
        color: #FFFFFF;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        background: #2F970C;
        border: 1px solid #2F970C;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .auth-form {
        padding: 32px 10px 64px 10px;
    }
    .auth-form input,
    .converter-input,
    .auth-form select {
        height: 49px;
        background: #F2F2F2;
        border-radius: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        border: 1px solid #F2F2F2;
        line-height: 19px;
        color: #9F9C9C;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    .auth-form input::placeholder,
    .converter-input::-moz-placeholder {
        color: #9F9C9C;
    }
    .auth-form-header h3 {
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: #333333;
        padding-bottom: 10px;
    }
    .auth-form-header p {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #797979;
    }
    .auth-check {
        position: relative;
        top: -15px;
    }
    .auth-check-label {
        font-size: 10px;
    }
    .auth--btn {
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        width: 100%;
        padding-bottom: 10px;
        padding-top: 9px;
        margin-top: 15px;
        border-radius: 5px;
    }
    .auth-misc-link {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #797979;
        text-align: center;
        margin-top: 7px;
    }
    .auth-misc-link .login {
        color: #2F970C;
    }
    .auth-misc-link .signup {
        color: #F06E0C;
    }
    .forgot-pwd {
        color: #F06E0C;
        text-align: center;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }
    .alert-box {
        z-index: 1000;
        left: 33% !important;
    }
    .btn-green:hover {
        background-color: #2F970C;
    }
    .btn-orange:hover {
        background-color: #F06E0C;
    }
    /******Dashboard******/
    .mobile-cards {
        padding: 5px 15px;
    }
    .mobile-cards .dashboard-card {
        margin-bottom: 10px;
    }
    .admin-post a {
        font-size: 12px;
    }
    /****mobile converter****/
    .mob-converter .text {
        color: #333333;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: start;
    }
    .mob-converter .text .copy {
        cursor: pointer;
    }
    .mob-converter .text span {
        font-weight: bold;
    }
    .mob-converter .text .success {
        color: #2F970C;
    }
    .mob-converter .text .fail,
    .mob-converter .text-error {
        color: rgb(226, 58, 58);
    }
    .mob-converter .unavailable {
        margin-top: 10px;
    }
    .mob-converter .unavailable .unavailable-header {
        color: #333333;
        font-size: 12px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    .mob-converter .unavailable table thead th {
        color: #333333;
        font-size: 11px;
    }
    .mob-converter .unavailable table tbody td {
        color: #333333;
        font-size: 11px;
    }
    .mob-converter .unavailable .game {
        margin-bottom: -2px;
    }
    .gobackConv {
        font-size: 12px;
        color: #2F970C;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        bottom: -100px;
    }
    .stat-container {
        margin-top: 20px;
        cursor: pointer;
        position: relative;
        bottom: -100px;
        background: #000000;
        padding: 4px 0px;
    }
    .stat-content {
        color: #FFFFFF;
        font-size: 12px
    }
    /*****Disclaimer****/
    .disclamer-section {
        background: transparent;
        margin-top: 20px;
    }
    .disclamer-section .disclamer-body {
        padding: 23px 17px 25px 17px;
    }
    .disclamer-section .disclamer-body .title {
        font-style: normal;
        font-size: 12px;
        line-height: 18px;
        color: #8B8787;
    }
    .disclamer-section .disclamer-body ol {
        margin-left: -32px;
    }
    .disclamer-section .disclamer-body ol li {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #8B8787;
    }
    .error {
        height: 50vh;
    }
    .errorText {
        font-size: 20px;
    }
    .errorText span {
        font-weight: bold;
    }
    .goBack {
        color: #2F970C;
        margin-top: 20px;
        cursor: pointer;
        text-decoration: underline;
    }
    .goBack:hover {
        color: #FFFFFF;
    }
}